altgraph==0.17.4
coverage==7.8.2
iniconfig==2.1.0
Jinja2==3.1.6
macholib==1.16.3
Markdown==3.8
MarkupSafe==3.0.2
packaging==25.0
-e git+https://github.com/rickypin/PktMask.git@bd20be7aaee91208ac0d73edcfd7fed467d13e19#egg=pktmask
pluggy==1.6.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.2
pytest==8.3.5
pytest-cov==6.1.1
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-qt==4.4.0
scapy==2.6.1
setuptools==80.9.0
